<!-- begin resources -->
<div>
    <div>
    </div>
    <hr/>
</div>
<!-- end resources -->

<div class="row app-container">
    <div class="col-sm-4 col-md-3">

    </div>
    <div class="col-sm-8 col-md-9">
        <!-- begin cms content -->
        <div ng-controller="BloodWorkCtrl">
            <div ng-bind="dateStarted"></div>
            <div ng-bind="dueDate"></div>
        </div>
        <!-- end cms content -->
    </div>
</div>