<!-- begin resources -->
<div>
    <div>
        <div>{{contentUrl}}app-fix.js</div>
        <div>{{contentUrl}}vendors/angular/angular.min.js</div>
    </div>
    <hr/>
</div>
<!-- end resources -->
<!-- begin cms content -->
<div ng-controller="LogoffCtrl"></div>
<!-- end cms content -->