<div ng-controller="JourneyCtrl">
    <p ng-show="submitting">loading...</p>
    <div class="journey">
        <div class="journey-map">
            <div class="journey-map-header">
                My Journey
            </div>
            <div class="journey-map-content">
                <div ng-repeat="step in details.patientStepDetailList">
                    <div ng-repeat="task in step.patientTaskList">
                        <a href ng-click="getTask(step.stepDetail.stepId, task.patientTaskId)">{{task.stepOfCareTask.name}}</a>
                        <span>
                            (<span ng-show="task.status == 3" style="color: green">{{statuses[task.status]}}</span>
                            <span ng-hide="task.status == 3" style="color: red">{{statuses[task.status]}}</span>)
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="journey-content">
            <h4>{{step.stepDetail.name}}</h4>
            <strong>{{task.stepOfCareTask.name}}</strong>
            <div>Due Date: {{dueDate}}</div>
            <div>Completed Date:  {{completedOn}}</div>
        </div>
    </div>
</div>