<div ng-app="app">
    <div ng-controller="JourneyCtrl">
        <div ng-repeat="step in details.patientStepDetailList">
            <h4>Step: {{step.stepDetail.name}}</h4>
            <ul style="margin-left: 30px" class="list-unstyled">
                <li ng-repeat="task in step.patientTaskList">
                    <div>Task: <a href ng-click="getTask(step.stepDetail.stepId, task.patientTaskId)">{{task.stepOfCareTask.name}}</a></div>
                    <div>
                        Status:
                        <span ng-show="task.status == 3" style="color: green">{{statuses[task.status]}}</span>
                        <span ng-hide="task.status == 3" style="color: red">{{statuses[task.status]}}</span>
                    </div>
                    <hr />
                </li>
            </ul>
        </div>
        <p ng-show="submitting">loading...</p>

        <div>
            <hr />
            <strong>{{task.stepOfCareTask.name}}</strong>
            <div>Due Date: {{dueDate}}</div>
            <div>Completed Date:  {{completedOn}}</div>
            <hr />
        </div>
    </div>
</div>