<!-- begin resources -->
<div>
    <div>
    </div>
    <hr/>
</div>
<!-- end resources -->

<div class="row app-container">
    <div class="col-sm-4 col-md-3">

    </div>
    <div class="col-sm-8 col-md-9">
        <!-- begin cms content -->
        <div ng-controller="JourneyRootCtrl">

            <div class="col-sm-8 col-xs-12 pull-left">

                <h1 class="text-left" style="font-size: 45px;">
                    You're doing a <span>Great Job! : patient</span><br>
                    There are only a few requirements left
                </h1>
                <p>
                    <span class="text-left">Hello <span ng-bind="firstName"></span></span><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                    <span class="pull-right text-right">
                                    June 3, 2016 11.53am PST<br>
                                    Anothony J. Smith, MD, OD
                                </span>
                </p>

            </div>
            <div class="col-sm-4 docphoto"> <img src="{{contentUrl}}images/doctor.png" alt=""> </div>
            <div class="sep col-sm-12"></div>
            <div class="col-sm-12">
                <h2 class="pull-left">Upcoming Appoinments</h2>
                <div class="event event1">
                    <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>7</span> </label>
                    <div class="col-md-10 pad0 col-sm-10">
                        <div class="details col-sm-12 col-md-8">
                            <h3>Psychological Evaluation</h3>
                            <label>September 7, 2016  11:30am PST</label>
                            <a href="#"><img src="{{contentUrl}}images/icn_pin.png" alt="">Map it</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <button id="msg_btn" type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                            <button type="submit" id="reply_btn" class="btn btn-block btn-default">Required Documents</button>
                        </div>

                    </div>
                </div>
                <div class="event event1">
                    <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>16</span> </label>
                    <div class="col-md-10 pad0 col-sm-10">
                        <div class="details col-sm-12 col-md-8">
                            <h3>Attend Webinar</h3>
                            <label>September 16, 2016  11:30am PST</label>
                            <a href="#"><img src="{{contentUrl}}images/icn_pin.png" alt="">Map it</a>
                            <p>Attend Webinar for bariatric with Dr. Mark. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <button type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                            <button type="submit" class="btn btn-block btn-default">Requirement Documents</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bgshadow"><img src="{{contentUrl}}images/boxshadow.png" alt=""></div>
        </div>
        <!-- end cms content -->
    </div>
</div>