.sidebarsection {
    background: #e8e8e8 none repeat scroll 0 0;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.headerimg {
    background-image: url('var(--content-url)images/headerbg.png');
    background-position: center top;
    background-size: 100% 100%;
    color: #ffffff;
    display: block;
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.single {
    float: left;
    margin: 10px 0;
    /*width: 100%;*/
}
.single label {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    margin: 6px 0 6px 2px;
    color: #111755;
    font-size: 17px;
}

.single img{
    vertical-align: middle;
}

.single ul{ padding-left:30px; margin-bottom:0px;}
.single ul li.red{ list-style-image: url('var(--content-url)images/dot_red.png');}
.single ul li.green{ list-style-image: url('var(--content-url)images/dot_green.png');}
.single ul li a{ padding:0 8px; display:block; font-size:14px; color:#5d5d5d;}

a.more {
    /* font-family: inherit; */
    font-style: italic;
    color: #111755 !important;
    text-decoration: underline;
}

.progress-bar-custom {
    background-color: rgb(13, 21, 111);
    padding-right: 0px !important;
    padding-left: 0px !important;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    /* height: 22px; */
    border-radius: 20px;
    margin-left: 2px;
}

.submitting {
    position: absolute;
    padding: 5px;
    color: #111755;
}

.app-container{
    padding: 0 50px;
    font-size: 14px;
    line-height: 1.42857143;
}

.login .login-form{
    padding: 20px;
    margin-top: 60px;
}