<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Patient portal</title>
    <link rel="stylesheet" href="/style.css">
    <script type="application/javascript" src="./app.js"></script>
</head>
<body>
<p>
    <a href="/patient/login/index.html">login</a>
    <a href="/patient/update/password/index.html">password</a>
    <a href="/patient/update/profile/index.html">profile</a>
    <a href="/patient/journey/index.html">journey</a>
</p>
<hr/>
{{{ htmlWebpackPlugin.options.render }}}
</body>
</html>

