<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Patient portal</title>
    <link rel="stylesheet" href="/style.css">
    <script type="application/javascript" src="./app.js"></script>
</head>
<body>
<div>
    <div>
        <a href="/patient/login/index.html">login</a> |
        <a href="/patient/update/password/index.html">password</a> |
        <a href="/patient/update/profile/index.html">profile</a> |
        <a href="/patient/journey/index.html">journey</a> |
        <a href="/patient/register/index.html">register</a> |
        <a href="/patient/logoff/index.html">logoff</a>
    </div>
    <hr/>
</div>
<!-- begin content -->
<div class="app-content" ng-app="app">
    {{{ htmlWebpackPlugin.options.render }}}
</div>
<!-- end content -->
</body>
</html>

